/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";
@import 'ngx-toastr/toastr';

.toast.success {
    background-color: green !important;
}

.toast-error {
    background-color: darkred !important;
}

.tost.info {
    background-color: blue !important;
}

.toast.warning {
    background-color: blueviolet !important;
}
